* {
    background:transparent !important;
    color:#000 !important;
    text-shadow:none !important;
    filter:none !important;
    -ms-filter:none !important;
}

body {
    margin:0;
    padding:0;
    line-height: 0;
}

html,body{
    height:297mm;
    width:210mm;
}

@page  {
    /*size: A4;*/
    margin: 11.7mm 4.80mm 0 0;
}

table {
    border-spacing: 0;
    border-collapse: separate;
}

.pagebreak {
    page-break-before: always;
}

td {
    height: 21.2mm;
    width: 38.1mm;
    /*border: 1mm solid black;*/
    text-align: center;
    align-content: center;
    padding-right: 3.25mm;
}

svg {
    height: 10mm;
    width: 30mm;
}
.uni {
    flex-direction: column;
    font-size: 7pt;
}
